<div class="vertical-menu d-none d-md-block ">
  <a routerLink="/schedule" routerLinkActive="hold">
    <img src="../../assets/calendar.svg" width="24" height="24" />
    <span class="nav-label">Thời khóa biểu</span>
  </a>
  <a routerLink="/testSchedule" routerLinkActive="hold" >
    <img src="../../assets/test.svg" width="24" height="24" />
    <span class="nav-label">Lịch thi</span>
  </a>
  <a routerLink="/goal" routerLinkActive="hold">
    <img src="../../assets/mark.svg" width="24" height="24" />
    <span class="nav-label">Kết quả</span>
  </a>
</div>
