<div class="container-fluid">
  <div class="border-custom">
    <h1 class="heading">Update Profile</h1>
  </div>
  <div class="py-2">
    <div class="card">
      <div class="card-block">
        <form class="k-form">

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <fieldset class="col-lg-10">
                <legend>User Details</legend>
                <label class="k-form-field">
                  <span>User Name</span>
                  <input type="text" class="k-textbox" id="username" [(ngModel)]="model.userName" name="username" #username="ngModel" disabled>
                </label>
                <div class="validation-message"></div>

                <label class="k-form-field">
                  <span>Email </span>
                  <input type="email" class="k-textbox" id="email" [(ngModel)]="model.email" name="email" #email="ngModel" required email="true" />
                </label>
                <div [ngClass]="{'hidden': email.valid || email.pristine}" class="validation-message">
                  <div *ngIf="email?.errors?.required">
                    Email is required.
                  </div>
                  <div *ngIf="email?.errors?.email">
                    This is not valid email, email should be <i>abc@gmail.com</i>.
                  </div>
                </div>

                <label class="k-form-field">
                  <span>Phone Number </span>
                  <input class="k-textbox" id="phonenumber" [(ngModel)]="model.phoneNumber" name="phonenumber" #phonenumber="ngModel" required />
                </label>
                <div [ngClass]="{'hidden': phonenumber.valid || phonenumber.pristine}" class="validation-message">
                  Phone number is required.
                </div>

                <div class="validate">
                  <div class="pb-3">
                    <button type="button" class="btn btn-secondary btn-sm" (click)="back()">Cancel</button>&nbsp;
                    <button type="button" class="btn btn-primary btn-sm" (click)="save(model.id)">Save</button>&nbsp;
                  </div>
                  <div [hidden]="!isError" class="validation-message">
                    {{message}}
                  </div>
                </div>

              </fieldset>
            </div>




          </div>


        </form>
      </div>
    </div>
  </div>
</div>

<!--<div class="container-fluid">
  <div class="border-custom">
    <h1>Update Profile</h1>
  </div>

  <div class="card py-3">
    <div class="card-block container-fluid">
      <form #myForm="ngForm" class="k-form pt-3" name="myForm">
        <div class="form-group col-lg-6 col-md-6 col-sm-12 validate">
          <div class="form-group col-lg-10 row">
            <button class="btn btn-secondary" (click)="back()">Cancel</button>&nbsp;
            <button class="btn btn-primary" (click)="save(model.id)">Save</button>&nbsp;
            <div [hidden]="!isError" class="validation-message">
              {{message}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group col-lg-10">
              <label for="username">User Name</label>
              <input type="text" class="form-control" id="username" [(ngModel)]="model.userName" name="username" #username="ngModel" disabled>
              <div class="validation-message"></div>
            </div>

            <div class="form-group col-lg-10">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="model.email" name="email" #email="ngModel" required email="true">
              <div [ngClass]="{'hidden': email.valid || email.pristine}" class="validation-message">
                <div *ngIf="email?.errors?.required">
                  Email is required.
                </div>
                <div *ngIf="email?.errors?.email">
                  This is not valid email, email should be <i>abc@gmail.com</i>.
                </div>
              </div>
            </div>

            <div class="form-group col-lg-10">
              <label for="phonenumber">Phone Number</label>
              <input type="text" class="form-control" id="phonenumber" [(ngModel)]="model.phoneNumber" name="phonenumber" #phonenumber="ngModel" required>
              <div [ngClass]="{'hidden': phonenumber.valid || phonenumber.pristine}" class="validation-message">
                Phone number is required.
              </div>
            </div>
          </div>
          
        </div>-->

        <!--<div class="form-group ">
          <label for="username">User Name</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="model.userName" name="username" #username="ngModel" disabled>
          <div class="validation-message"></div>
        </div>-->

        <!--<div class="form-group ">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="model.email" name="email" #email="ngModel" required email="true">
          <div [ngClass]="{'hidden': email.valid || email.pristine}" class="validation-message">
            <div *ngIf="email?.errors?.required">
              Email is required.
            </div>
            <div *ngIf="email?.errors?.email">
              This is not valid email, email should be <i>abc@gmail.com</i>.
            </div>
          </div>
        </div>-->

        <!--<div class="form-group ">
          <label for="phonenumber">Phone Number</label>
          <input type="text" class="form-control" id="phonenumber" [(ngModel)]="model.phoneNumber" name="phonenumber" #phonenumber="ngModel" required>
          <div [ngClass]="{'hidden': phonenumber.valid || phonenumber.pristine}" class="validation-message">
            Phone number is required.
          </div>
        </div>-->


      <!--</form>
    </div>
  </div>
</div>-->


